footer.footer
  .container.is-widescreen
    .content.has-text-centered
        p
            strong BetHAX
            |  is a site under construction
        p
            a(href='mailto:contact@bethax.com') Contact us

